<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Jieru He</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

    <link rel="stylesheet" href="static/assets/css/main.css"/>
<!--    google font and icon-->
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">
<!--    <style>-->
<!--@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');-->
<!--    </style>-->
    <script src="https://kit.fontawesome.com/f315dc6374.js" crossorigin="anonymous"></script>

</head>

<body class="is-preload">

<!--<div class="row">-->
<!--<div class="column left" style="width: 20%; float:left">-->
<!--BARS-->
	<div id="header">
		<div class="top">
		<!--        NAME-->
		<div id="logo">
			<h1 id="title"><a href="#index.html">Jieru He</a></h1>
		</div>
		<!--        NAVIGATION-->
		<nav id="nav">
			<ul>
				<li><a href="#machine-learning.html" id="machine-learning-link">Machine Learning</a></li>
				<li><a href="#data-analytics.html" id="data-analytics-link">Data Analytics</a></li>
				<li><a href="#visualization.html" id="visualization-link">Data Visualization</a></li>
				<li><a href="#geospatial.html" id="geospatial-link">Geospatial Analysis</a></li>
				<br />
				<li><a href="#sustainability.html" id="sustainability-link">Sustainability Planning</a></li>
				<li><a href="#built.html" id="built-link">Landscape Design</a></li>
<!--				<br/>-->
<!--				<li><a href="contacts.html">Contact me</a></li>-->

			</ul>
		</nav>
		</div>
		<div class="bottom">
		<!--        ICONS-->
		<ul class="icons">
			<li><a href="https://linkedin.com/in/jieru-he"><i class="fa-brands fa-linkedin fa-lg"></i></a></li>
			<li><a href="https://github.com/Jieru-He"><i class="fa-brands fa-github fa-lg"></i></a></li>
			<li><a href="https://medium.com/@hejieru"><i class="fa-brands fa-medium fa-lg"></i></a></li>
<!--			<li><a href=""><i class="fa-regular fa-file fa-lg"></i></a></li>-->
		</ul>
		</div>
	</div>
<!--</div>-->

<!--<div class="column right" style="width: 80%; float:right">-->
<!--MAIN CONTENT-->

	<div id="main">
		<div class="container">
		<!--    CAROUSEL-->
			<section class="carousel partone">
				<div>
					<h2>Climate and Energy</h2>
				</div>
				<div class="reel">
					<article>
						<a href="#" class="image featured"><img class="cropped1" src="static/images/carbon_all_industry.png " alt="" /></a>
						<header>
							<h3><a href="#">Analysis and Forecast of the U.S. Energy CO2 Emissions</a></h3>
						</header>
						<p>Machine Learning, Time-Series Analysis</p>
						<p>Python</p>
					</article>

					<article>
						<video width="320" height="280" autoplay muted loop>
  						<source src="static/images/dashboard.mp4" type="video/mp4">
<!--  						<source src="movie.ogg" type="video/ogg">-->
<!--					Your browser does not support the video tag.-->
					</video>
<!--						<a href="#" class="image featured"><img class="cropped1" src="static/images/pic02.jpg" alt="" /></a>-->
						<header>
							<h3><a href="#">World CO2 Emissions Visualization</a></h3>
						</header>
						<p>Interactive Online Dashboard</p>
						<p>Python with Panel/Hvplot</p>
					</article>

					<article>
						<a href="#" class="image featured"><img class="cropped1" src="static/images/esg.png" alt="" /></a>
						<header>
							<h3><a href="#">ESG Score Webscraping of S&P 500 Companies</a></h3>
						</header>
						<p>BeautifulSoup, API</p>
						<p>Stored into a Complete Excel Dataset</p>
					</article>

					<article>
						<a href="#" class="image featured"><img class="cropped1" src="static/images/automobile.png" alt="" /></a>
						<header>
							<h3><a href="#">How Energy Scandal Affected Automobile Companies</a></h3>
						</header>
						<p>Machine Learning, Time-Series Analysis</p>
						<p>Python</p>
					</article>

					<article>
						<a href="#" class="image featured"><img class="cropped1" src="static/images/EV-temp.png" alt="" /></a>
						<header>
							<h3><a href="#">Supply Chain Analysis of Electric Vehicle Battery</a></h3>
						</header>
						<p>Graph Network, Data Visualization</p>
						<p>Undergoing</p>
					</article>

					<article>
						<a href="#" class="image featured"><img class="cropped1" src="static/images/powerline.jpg" alt="" /></a>
						<header>
							<h3><a href="#">Forecast Electric Power Demand of Texas Cities</a></h3>
						</header>
						<p>Machine Learning</p>
						<p>Undergoing</p>
					</article>

					<article>
						<video width="320" height="280" autoplay muted loop>
  						<source src="static/images/sea.mp4" type="video/mp4">
<!--  						<source src="movie.ogg" type="video/ogg">-->
<!--					Your browser does not support the video tag.-->
					</video>
<!--						<a href="#" class="image featured"><img class="cropped1" src="static/images/pic03.jpg" alt="" /></a>-->
						<header>
							<h3><a href="#">Ocean Warming and Habitat Degradation around the Gulf</a></h3>
						</header>
						<p>Geospatial Analysis, Multi-dimensional Data of Sea Surface</p>
						<p>ArcGIS</p>


					</article>

					<article>
						<a href="#" class="image featured"><img class="cropped1" src="static/images/particle.png" alt="" /></a>
						<header>
							<h3><a href="#">Mapping Air Pollution PM2.5 Exposure in California</a></h3>
						</header>
						<p>Geospatial Analysis</p>
						<p>ArcGIS</p>
					</article>

					<article>
						<a href="#" class="image featured"><img class="cropped1" src="static/images/cougar.png" alt="" /></a>
						<header>
							<h3><a href="#">Mapping Cougar Habitat Location</a></h3>
						</header>
						<p>Geospatial Mapping and Comparison</p>
						<p>ArcGIS StoryMaps</p>
					</article>

					<article>
						<a href="#" class="image featured"><img class="cropped1" src="static/images/fossil.png" alt="" /></a>
						<header>
							<h3><a href="#">Fossil Exploration by Remote Sensing</a></h3>
						</header>
						<p>Raster Analysis</p>
						<p>ArcGIS Image for ArcGIS Online</p>
					</article>

					<article>
						<a href="#" class="image featured"><img class="cropped1" src="static/images/white.png" alt="" /></a>
						<header>
							<h3><a href="#"></a></h3>
						</header>
						<p></p>
						<p></p>
					</article>

				</div>
			</section>

		<!--    CAROUSEL-->
			<section class="carousel parttwo">
				<div>
					<h2>Business and Finance</h2>
				</div>
				<div class="reel">

					<article>
						<a href="#" class="image featured"><img class="cropped1" src="static/images/customer.png" alt="" /></a>
						<header>
							<h3><a href="#">Customer Segmentation and Picture of Ideal Customers</a></h3>
						</header>
						<p>Machine Learning, Clustering</p>
						<p>Python</p>
					</article>

					<article>
						<a href="#" class="image featured"><img class="cropped1" src="static/images/IMDB.png" alt="" /></a>
						<header>
							<h3><a href="#">Analyze and Predict the Success of a Movie</a></h3>
						</header>
						<p>Machine Learning, Regression and Classification</p>
						<p>Python</p>
					</article>

					<article>
						<a href="#" class="image featured"><img class="cropped1" src="static/images/tableau_dashboard.png" alt="" /></a>
						<header>
							<h3><a href="#">Customer Analysis and Marketing Solutions</a></h3>
						</header>
						<p>Data Visualization</p>
						<p>Tableau</p>
					</article>

					<article>
						<a href="#" class="image featured"><img class="cropped1" src="static/images/financial_dashboard.png" alt="" /></a>
						<header>
							<h3><a href="#">Financial Report Dashboard</a></h3>
						</header>
						<p>Data Visualization</p>
						<p>Tableau</p>
					</article>
					<article>
						<a href="#" class="image featured"><img class="cropped1" src="static/images/lending.png" alt="" /></a>
						<header>
							<h3><a href="#">Classification and Prediction of the LendingClub Default </a></h3>
						</header>
						<p>Machine Learning, Random Forest</p>
						<p>Python</p>
					</article>

					<article>
						<a href="#" class="image featured"><img class="cropped1" src="static/images/flight.png" alt="" /></a>
						<header>
							<h3><a href="#">Database Design of a Flight Booking System</a></h3>
						</header>
						<p>Database</p>
						<p>MySQL Workbench</p>
					</article>

					<article>
						<a href="#" class="image featured"><img class="cropped1" src="static/images/adregression3.png" alt="" /></a>
						<header>
							<h3><a href="#">Marketing Decision for an ECommerce Company</a></h3>
						</header>
						<p>Machine Learning, Regression</p>
						<p>Python</p>
					</article>

					<article>
						<a href="#" class="image featured"><img class="cropped1" src="static/images/cookiecat.jpg" alt="" /></a>
						<header>
							<h3><a href="#">Player Retention Analysis of the Mobile Game Cookie Cats</a></h3>
						</header>
						<p>A/B Testing </p>
						<p>Undergoing</p>
					</article>


					<article>
						<a href="#" class="image featured"><img class="cropped1" src="static/images/yelp.png" alt="" /></a>
						<header>
							<h3><a href="#">Classification of Yelp Reviews</a></h3>
						</header>
						<p>Natural Language Processing</p>
						<p>Python</p>
					</article>

					<article>
						<a href="#" class="image featured"><img class="cropped1" src="static/images/stock.png" alt="" /></a>
						<header>
							<h3><a href="#">Financial Performance Analysis of Stock Prices</a></h3>
						</header>
						<p>Data Analytics, API</p>
						<p>Python</p>
					</article>
					<article>
						<a href="#" class="image featured"><img class="cropped1" src="static/images/white.png" alt="" /></a>
						<header>
							<h3><a href="#"></a></h3>
						</header>
						<p></p>
						<p></p>
					</article>
				</div>
			</section>

		<!--    CAROUSEL-->
		<section class="carousel partthree">
			<div>
				<h2>Social Sciences</h2>
			</div>
			<div class="reel">

				<article>
					<a href="#" class="image featured"><img class="cropped1" src="static/images/sqlquery.png" alt="" /></a>
					<header>
						<h3><a href="#">Analysis of International Debt Statistics</a></h3>
					</header>
					<p>SQL Query</p>
					<p>PostgreSQL</p>
				</article>

				<article>
					<video width="320" height="240" autoplay muted loop>
  						<source src="static/images/snippet.mov" type="video/mp4">
<!--  						<source src="movie.ogg" type="video/ogg">-->
<!--					Your browser does not support the video tag.-->
					</video>
<!--					<a href="#" class="image featured"><img class="cropped1" src="static/images/pic01.jpg" alt="" /></a>-->
					<header>
						<h3><a href="https://public.tableau.com/app/profile/jieruhe/viz/RespectHansRosling/Dashboard1?publish=yes">World Development Trend in 200 Years</a></h3>
					</header>
					<p>Data Visualization, Tableau</p>
					<p>Work Inspired by Hans Rosling of the Gapminder Foundation</p>
				</article>

				<article>
					<a href="#" class="image featured"><img class="cropped1" src="static/images/satellite.jpg" alt="" /></a>
					<header>
						<h3><a href="#">Use Satellite Data to Map Land Cover Type</a></h3>
					</header>
					<p>Landsat Explorer App, ArcGIS Online, ArcGIS Living Atlas</p>
					<p>ArcGIS Pro</p>
				</article>

				<article>
					<a href="#" class="image featured"><img class="cropped1" src="static/images/landcover.png" alt="" /></a>
					<header>
						<h3><a href="#">Measure Land Cover Change</a></h3>
					</header>
					<p>Geospatial Analysis</p>
					<p>ArcGIS Pro</p>
				</article>

				<article>
					<video width="320" height="240" autoplay muted loop>
  						<source src="static/images/agriculture.mp4" type="video/mp4">
<!--  						<source src="movie.ogg" type="video/ogg">-->
<!--					Your browser does not support the video tag.-->
					</video>
<!--					<a href="#" class="image featured"><img class="cropped1" src="static/images/pic03.jpg" alt="" /></a>-->
					<header>
						<h3><a href="#">US Agriculture Exports</a></h3>
					</header>
					<p>Choropleth Map, Interactive Visualization</p>
					<p>Python Plotly</p>
				</article>

				<article>
					<a href="#" class="image featured"><img class="cropped1" src="static/images/mapbuilding.png" alt="" /></a>
					<header>
						<h3><a href="#">Map Building Footprint</a></h3>
					</header>
					<p>Geospatial Analysis</p>
					<p>ArcGIS Image for ArcGIS Online with Deep Learning Models</p>
				</article>

				<article>
					<a href="#" class="image featured"><img class="cropped1" src="static/images/drone.jpg" alt="" /></a>
					<header>
						<h3><a href="#">Process Drone Data to Model a Construction Project</a></h3>
					</header>
					<p>Drone Data and Imagery Creation</p>
					<p>ArcGIS Drone2Map</p>
				</article>

				<article>
					<a href="#" class="image featured"><img class="cropped1" src="static/images/book.jpg" alt="" /></a>
					<header>
						<h3><a href="#">A Virtual Bookshelf</a></h3>
					</header>
					<p>Web Development</p>
					<p>Flask, SQLite Database</p>
				</article>
				<article>
					<a href="#" class="image featured"><img class="cropped1" src="static/images/white.png" alt="" /></a>
					<header>
						<h3><a href="#"></a></h3>
					</header>
					<p></p>
					<p></p>
				</article>
<!--				<article>-->
<!--					<a href="#" class="image featured"><img class="cropped1" src="static/images/pic04.jpg" alt="" /></a>-->
<!--					<header>-->
<!--						<h3><a href="#">PM2.5 Local Prediction</a></h3>-->
<!--					</header>-->
<!--					<p>GIS, Forecasting</p>-->
<!--				</article>-->

<!--				<article>-->
<!--					<a href="#" class="image featured"><img class="cropped1" src="static/images/pic05.jpg" alt="" /></a>-->
<!--					<header>-->
<!--						<h3><a href="#">Habitat Location</a></h3>-->
<!--					</header>-->
<!--					<p>GIS, Location</p>-->
<!--				</article>-->
			</div>
		</section>

		<!--    CAROUSEL-->
		<section class="carousel partfour">
			<div>
				<h2>Sustainable Development</h2>
			</div>
			<div class="reel">
				<article>
					<a href="#" class="image featured"><img class="cropped1" src="static/images/sitegeo.png" alt="" /></a>
					<header>
						<h3><a href="#">Mining Landscape Research and Sustainability Planning</a></h3>
					</header>
					<p>Western Ghats, India and Shanxi Province, China</p>
					<p>Published on Leading Landscape Architecture Journals</p>
				</article>

<!--				<article>-->
<!--					<video width="320" height="240" autoplay muted loop>-->
<!--  						<source src="static/images/overallvideo.mp4" type="video/mp4">-->
<!--&lt;!&ndash;  						<source src="movie.ogg" type="video/ogg">&ndash;&gt;-->
<!--&lt;!&ndash;					Your browser does not support the video tag.&ndash;&gt;-->
<!--					</video>-->
<!--&lt;!&ndash;					<a href="#" class="image featured"><img class="cropped1" src="static/images/pic02.jpg" alt="" /></a>&ndash;&gt;-->
<!--					<header>-->
<!--						<h3><a href="#">Unlock Sustainable Development Opportunities in Natural Resources Depleted Regions</a></h3>-->
<!--					</header>-->
<!--					<p>Proposal Selected and Funded by the PennDesign School</p>-->
<!--				</article>-->

				<article>
					<video width="320" height="240" autoplay muted loop>
  						<source src="static/images/indiavideo.mp4" type="video/mp4">
<!--  						<source src="movie.ogg" type="video/ogg">-->
<!--					Your browser does not support the video tag.-->
					</video>
<!--					<a href="#" class="image featured"><img class="cropped1" src="static/images/pic03.jpg" alt="" /></a>-->
					<header>
						<h3><a href="#">Metal Mining and Water Excess in Western Ghats, India</a></h3>
					</header>
					<p>Conducted Multi-disciplinary Research</p>
					<p>Research, Field Trip, Collaboration with Abroad Universities</p>
				</article>

				<article>
					<video width="320" height="240" autoplay muted loop>
  						<source src="static/images/shanxivideo.mp4" type="video/mp4">
<!--  						<source src="movie.ogg" type="video/ogg">-->
<!--					Your browser does not support the video tag.-->
					</video>
<!--					<a href="#" class="image featured"><img class="cropped1" src="static/images/pic03.jpg" alt="" /></a>-->
					<header>
						<h3><a href="#">Coal Mining and Water Shortage in Shanxi Province, China</a></h3>
					</header>
					<p>Advised Sustainability and Resilience Development Solutions on Natural Resources Depleted Regions</p>
					<p></p>
				</article>

				<article>
					<a href="#" class="image featured"><img class="cropped1" src="static/images/triborosite.jpg" alt="" /></a>
					<header>
						<h3><a href="#">The Triborough Line - NYC Fourth Regional Plan</a></h3>
					</header>
					<p>Resilience Planning</p>
					<p>ArcGIS, Adobe Suite</p>
				</article>

				<article>
					<a href="#" class="image featured"><img class="cropped1" src="static/images/greaterbay.jpg" alt="" /></a>
					<header>
						<h3><a href="#">Urban Design in the Greater Bay Area</a></h3>
					</header>
					<p>Led Resilience Planning and Team Coordination Work</p>
					<p>AutoCAD, Rhino, ArcGIS, Adobe Suite</p>
				</article>

				<article>
					<a href="#" class="image featured"><img class="cropped1" src="static/images/longgang.jpg" alt="" /></a>
					<header>
						<h3><a href="#">Riverfront Landscape Planning and Design</a></h3>
					</header>
					<p>Led Graphics and Sustainable Design Solutions</p>
					<p>AutoCAD, Rhino, ArcGIS, Adobe Suite</p>
				</article>

				<article>
					<a href="#" class="image featured"><img class="cropped1" src="static/images/cairo.png" alt="" /></a>
					<header>
						<h3><a href="#">4300 Acre Capital Garden Master Planning</a></h3>
					</header>
					<p>Provided Project Administrative Support</p>
					<p>Site: Cairo, Egypt</p>
				</article>
				<article>
					<a href="#" class="image featured"><img class="cropped1" src="static/images/white.png" alt="" /></a>
					<header>
						<h3><a href="#"></a></h3>
					</header>
					<p></p>
					<p></p>
				</article>
<!--				<article>-->
<!--					<a href="#" class="image featured"><img class="cropped1" src="static/images/pic04.jpg" alt="" /></a>-->
<!--					<header>-->
<!--						<h3><a href="#">PM2.5 Local Prediction</a></h3>-->
<!--					</header>-->
<!--					<p>GIS, Forecasting</p>-->
<!--				</article>-->

<!--				<article>-->
<!--					<a href="#" class="image featured"><img class="cropped1" src="static/images/pic05.jpg" alt="" /></a>-->
<!--					<header>-->
<!--						<h3><a href="#">Habitat Location</a></h3>-->
<!--					</header>-->
<!--					<p>GIS, Location</p>-->
<!--				</article>-->
			</div>
		</section>

		<!--    CAROUSEL-->
		<section class="carousel partfive">
			<div>
				<h2>Built Environment</h2>
			</div>
			<div class="reel">
				<article>
					<a href="#" class="image featured"><img class="cropped1" src="static/images/communityplanning.png" alt="" /></a>
					<header>
						<h3><a href="#">Prairieland of Bridgeland Master-planned Community</a></h3>
					</header>
					<p>Construction Documentation</p>
					<p>AutoCAD</p>
				</article>

				<article>
					<a href="#" class="image featured"><img class="cropped1" src="static/images/wetland.png" alt="" /></a>
					<header>
						<h3><a href="#">Wetland Water Purification Park</a></h3>
					</header>
					<p>Concept Design, Water System Design</p>
					<p>Rhino, Lumion, Adobe Photoshop</p>
				</article>

				<article>
					<a href="#" class="image featured"><img class="cropped1" src="static/images/urbanplanning.png" alt="" /></a>
					<header>
						<h3><a href="#">St.George Place Master Plan and Streetscape</a></h3>
					</header>
					<p>Urban Planning and Design</p>
					<p>Sketchup, Adobe Photoshop and Illustrator</p>
				</article>

				<article>
					<a href="#" class="image featured"><img class="cropped1" src="static/images/streetscape.png" alt="" /></a>
					<header>
						<h3><a href="#">Streetscape Construction</a></h3>
					</header>
					<p>Construction Documentation</p>
					<p>AutoCAD</p>
				</article>

				<article>
					<a href="#" class="image featured"><img class="cropped1" src="static/images/trailcorridor.png" alt="" /></a>
					<header>
						<h3><a href="#">Spring Branch Trail Special District Study</a></h3>
					</header>
					<p>Urban Design and Research</p>
					<p>AutoCAD, Adobe Illustrator</p>
				</article>


<!--				<article>-->
<!--					<a href="#" class="image featured"><img class="cropped1" src="static/images/pic01.jpg" alt="" /></a>-->
<!--					<header>-->
<!--						<h3><a href="#">Automobile Gasline Scandal</a></h3>-->
<!--					</header>-->
<!--					<p>Time series, ARIMA</p>-->
<!--				</article>-->

				<article>
					<a href="#" class="image featured"><img class="cropped1" src="static/images/campus.jpg" alt="" /></a>
					<header>
						<h3><a href="#">Lone Star College Noble Garden</a></h3>
					</header>
					<p>Sketch, Contruction Documentation</p>
					<p>AutoCAD</p>
				</article>
				<article>
					<a href="#" class="image featured"><img class="cropped1" src="static/images/white.png" alt="" /></a>
					<header>
						<h3><a href="#"></a></h3>
					</header>
					<p></p>
					<p></p>
				</article>
<!--				<article>-->
<!--					<a href="#" class="image featured"><img class="cropped1" src="static/images/pic03.jpg" alt="" /></a>-->
<!--					<header>-->
<!--						<h3><a href="#">Sea Surface Change</a></h3>-->
<!--					</header>-->
<!--					<p>GIS, Time-series</p>-->
<!--				</article>-->

<!--				<article>-->
<!--					<a href="#" class="image featured"><img class="cropped1" src="static/images/pic04.jpg" alt="" /></a>-->
<!--					<header>-->
<!--						<h3><a href="#">PM2.5 Local Prediction</a></h3>-->
<!--					</header>-->
<!--					<p>GIS, Forecasting</p>-->
<!--				</article>-->

<!--				<article>-->
<!--					<a href="#" class="image featured"><img class="cropped1" src="static/images/pic05.jpg" alt="" /></a>-->
<!--					<header>-->
<!--						<h3><a href="#">Habitat Location</a></h3>-->
<!--					</header>-->
<!--					<p>GIS, Location</p>-->
<!--				</article>-->
			</div>
		</section>


		</div>
	</div>

<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/jquery.dropotron.min.js"></script>
			<script src="static/assets/js/jquery.scrolly.min.js"></script>
			<script src="static/assets/js/jquery.scrollex.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>

</body>
</html>